.outer {
    width: 100%;
    display: flex;
    cursor: pointer;
    position: relative;
    color: var(--theme-dark-blue);
    min-height: 65px;
}

@media (hover: hover) {
    .outer:hover {
        box-shadow: 0 0 0 1px inset rgba(50, 59, 108, 0.59);
    }
}

.inner {
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

.titleOuter {
    padding-left: 2vw;
}

.progressOuter {
    width: 65%;
    padding-right: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.progressStatusOuter {
    display: flex;
    flex-direction: column;
}

.progressStatusCompletion {
    font-weight: 600;
}

.progressStatus {
}

.progressBarOuter {
    width: 25vw;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 650px) {
    .progressOuter {
        width: 50%;
    }

    .progressBarOuter {
        display: none;
    }
}

.progressBarText {
    margin-top: -4px;
    margin-bottom: 2px;
    font-weight: 600;
}

.progressBar {
    width: 100%;
    height: 15px;
    position: relative;
    background-color: #C4C4C4;
}

.progressBarFill {
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #1E8A6B;
}

.arrowIconOuter {
}

.arrowIcon {
    width: 20px;
}
