.outer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    padding: 20px;
}

.textOuter {
    display: flex;
    flex-direction: column;
}

.name {
    margin: 10px 0 20px 0;
    font-weight: 500;
    font-size: 18px;
}

.org {

}

.joined {

}

.iconOuter {
    width: 140px;
    height: 140px;
    border-radius: 140px;
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 0.02);
}

.icon {
    width: 140px;
    height: 140px;
    border-radius: 140px;
    object-fit: cover;
}
