.outer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

.inner {
    width: 95%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.headerOuter {
    width: 100%;
    text-align: left;
    font-size: 24px;
    padding: 15px 2vw 25px 2vw;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.headerTitle {
}

.headerAction {
}

.headerActionImage {
    width: 25px;
    filter: hue-rotate(164deg) brightness(125%);
    cursor: pointer;
}

.itemsOuter {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.itemOuter {
    width: 100%;
    padding: 15px 2vw;
    background-color: white;
    border-bottom: 1px solid #797979;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemInner {
    display: flex;
    flex-direction: column;
}

.itemUid {
    font-size: 12px;
    margin-top: 4px;
}

.itemImage {
    width: 24px;
    cursor: pointer;
}
