.outer {
    width: calc(100% / 8);
    height: calc(100% / 8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    filter: hue-rotate(326deg);
    border: var(--square-border-color) .5px solid;
}

.index {
    position: absolute;
    left: 2%;
    font-size: 75%;
    line-height: 75%;
    font-weight: 500;
    color: #484848;
    /*text-shadow: 1px 1px rgba(59, 59, 59, 0.1);*/
    user-select: none;
}

.rank {
    top: 3%;
}

.file {
    bottom: 3%;
}
