.outer {
    width: 100%;
    --nav-frame-height: 95px;
    height: var(--nav-frame-height);
}

.main {
    width: 100%;
    height: var(--nav-frame-height);
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
}

.fixed {
    position: fixed;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.47);
    background-color: var(--body-background-blue);
}
