.main {
    width: fit-content;
    height: fit-content;
    background-color: #1469ff;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 10px;
    font-size: 16px;
    font-weight: 700;
    user-select: none;
    letter-spacing: -.3px;
}

@media (hover: hover) {
    .main:hover {
        filter: brightness(104%);
    }
}

.main:active {
    filter: brightness(108%);
}
