.outer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleClass {
    padding: 0 0 25px 10px !important;
    max-width: 1300px;
}

@media screen and (max-width: 1000px) {
    .titleClass {
        padding: 0 0 25px 25px !important;
    }
}

.bodyOuter {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.body {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
