.bodyOuter {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

.body {
    width: 95%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.itemsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.itemsContainer > div {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 17%; /* Makes it so there is 5 items per row */
    height: 18vw;
    max-width: 20%;
}

@media screen and (max-width: 1100px) {
    .itemsContainer > div {
        flex-basis: 21%; /* Makes it so there is 4 items per row */
        height: 24vw;
        max-width: 25%;
    }
}

@media screen and (max-width: 860px) {
    .itemsContainer > div {
        flex-basis: 26%; /* Makes it so there is 3 items per row */
        height: 32vw;
        max-width: 33%;
    }
}

@media screen and (max-width: 560px) {
    .itemsContainer > div {
        flex-basis: 34%; /* Makes it so there is 2 items per row */
        height: 46vw;
        max-width: 50%;
    }
}
