.bodyOuter {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

.body {
    width: 95%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.header {
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.itemsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.addItemOuter {
    width: 100%;
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
    user-select: none;
}

.addItemInner {
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(3px) brightness(60%);
}

@media (hover: hover) {
    .addItemInner:hover {
        backdrop-filter: blur(3px) brightness(50%);
    }
}

.addItemTitle {
    text-align: center;
    color: white;
}

.addItemIcon {
    width: 20px;
    filter: hue-rotate(130deg);
    margin-left: 10px;
}
