.outer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body {
    width: 100%;
    height: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
