.outer {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    position: relative;
}

.inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px) brightness(60%);
    border: 1px solid white;
}

.topBar {
    width: 100%;
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
}

.number {
    position: absolute;
    left: 2vw;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.contentOuter {
    width: 100%;
    padding: 0 2vw 2vw 2vw;
    display: flex;
    flex-direction: column;
}

.inputTitle {
    color: #ffe04a !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    text-decoration: underline !important;
}

.inputText {
    resize: vertical !important;
}