.outer {
    --hamburger-menu-width: 300px;
    --hamburger-menu-width-offset: calc((var(--hamburger-menu-width) * -1));

    width: var(--hamburger-menu-width);
    display: flex;
    flex-direction: column;
    outline: none;
    overflow: auto;
}

@media screen and (max-width: 1000px) {
    .outer {
        height: 100%;
        position: fixed;
        top: 0;
        background-image: var(--body-background-image);
        z-index: 99;
        transform: translateX(var(--hamburger-menu-width-offset));
        transition: transform .5s;
        box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.57);
    }
}

.headerOuter {
    width: 100%;
    padding: 25px 10px;
    display: none;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .headerOuter {
        display: flex;
    }
}

.headerImage {
    width: 50px;
    filter: grayscale(100%) brightness(1000%);
    cursor: pointer;
}

.itemOuter {
    display: flex;
    align-items: center;
    padding: 2px 25px 34px 25px;
}

.itemOuter a {
    text-decoration: none;
    color: white;
}

@media (hover: hover) {
    .itemOuter a:hover {
        color: #f15b2a;
    }
}

.itemOuter a:active {
    color: #f15b2a;
}

.selected a {
    color: #f15b2a;
}