.bodyOuter {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

.body {
    width: 95%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.itemsHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.itemsHeaderPart {
    flex: 1;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

.itemsContainer {
    width: 100%;
}
