.outer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 0;
}

.inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(3px) brightness(60%);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.image {
    width: 70%;
    height: 70%;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 1s;
    padding-bottom: 20px;
}

@media (hover: hover) {
    .image:hover {
        transform: scale(1.05);
    }
}

.image:active {
    transform: scale(1.06);
}

.titleOuter {
    width: 100%;
    backdrop-filter: blur(3px) brightness(50%);
    padding: 10px 0;
    text-align: center;
    color: white;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    user-select: none;
}

.downloadButton {
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    filter: brightness(1000%);
    cursor: pointer;
}
