@keyframes :global(basic_loading_spin) {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.outer {
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner :global {
    border-radius: 50%;
    animation: 1.5s infinite basic_loading_spin ease-in-out;
}