.main {
    min-width: 90px;
    background-color: #F13F3F;
    color: white;
    border-radius: 22px;
    padding: 10px 18px;
    margin-left: auto;
    margin-right: 25px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    letter-spacing: 1px;
}

@media (hover: hover) {
    .main:hover {
        filter: brightness(106%);
    }
}

.main:active {
    filter: brightness(140%);
}
