.outer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inner {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.inner :not(:first-child) {
    margin-left: 5px;
}

.part {
    flex: 1;
    background-color: white;
    margin-bottom: 5px;
    padding: 10px 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}