.outer {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.title {
    color: #ffe04a;
    font-size: 18px;
    margin: 15px 0 0 0;
    font-weight: 700;
    text-decoration: underline;
}

.addChoiceOuter {
    width: 100%;
    display: flex;
    cursor: pointer;
    margin: 10px 0;
    user-select: none;
}

.addChoiceInner {
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    background-color: #ffffff26;
}

@media (hover: hover) {
    .addChoiceInner:hover {
        backdrop-filter: blur(3px) brightness(50%);
    }
}

.addChoiceTitle {
    text-align: center;
    color: white;
}

.addChoiceIcon {
    width: 20px;
    filter: hue-rotate(130deg);
    margin-left: 10px;
}