.outer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 25px 40px 0;
}

.headerOuter {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 13px;
}

.profileImage {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    flex: 0 0 200px;
    object-fit: cover;
}

.headerTitleOuter {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    background-color: white;
    border-radius: 13px;
    padding: 10px;
    flex: 1 0 0;
    word-break: break-word;
    font-weight: 500;
    font-size: 16px;
}

.headerTitlePart {
    margin-bottom: 10px;
}

.resetSurveyOuter {
    margin-top: 25px;
    align-self: flex-end;
}

@media screen and (max-width: 1000px) {
    .outer {
        align-items: center;
        padding: 0 25px 40px 25px;
    }

    .headerOuter {
        flex-direction: column;
        align-items: center;
    }

    .headerTitleOuter {
        margin-top: 25px;
        margin-left: 0;
    }
}
